.topNav{
    background-color: #0046be;
    grid-gap: 48px;
    display: grid;
    grid-template-columns: 80px 86px 10fr 7fr 75px;
    grid-template-rows: 1fr;
    padding: .5rem 1.5rem;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 100;
    height: 4em;
}
.topNav > div {
  border: 0px solid white;
}
.topNav > div:nth-child(2) , div:nth-child(5){
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    font-weight: 700;
    font-size: larger;
    font-weight: 500;
}
.topNav > div:nth-child(3){
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.topNav > div:nth-child(4){
    display: flex;
    justify-content: flex-end;
    color: #fff;
    font-weight: 500;
    font-size: larger;
    align-items: center;

}
input{
    padding: 10px;
    color: #55555a;
    font-size: 16px;
    height: 40px;
    width: 80%;
    border-radius: 4px 0px 0 4px;
}
.topNav > div:nth-child(3) > button{
    background-color: white;
    border: 2px solid white;
    width: 8%;
    height: 40px;
    border-radius: 0 4px 4px 0;
}
.topNav > div:nth-child(3) > button > i{
    font-size: x-large;
}

.bottomNav{
    background-color: #0046be;
    align-items: center;
    display: flex;
    padding: .75rem 1.5rem;
    z-index: 90;
    justify-content: space-between;
    height: 50px;
    margin-top: 3.9em;
    border-top: 2px solid #0096c7;

}
.bottomNav > div{
    border: 0px solid white;
    width: 45%;
    height: 100%;
}
.bottomLeft , .bottomRight{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 13px;
}
.bottomLeft > p , .bottomRight > div{
    border: 0px solid white;
    color: white;
    display: flex;
}

.bottomRight {
   font-weight: 700;
   font-size: small;
}
.bottomRight>div>div>i , .bottomLeft>div>p>i {
    margin-left: 10px;
}
.bottomRight>div:nth-child(1)>div:nth-child(1)>i{
    align-items: center;
    font-size: 15px;
    margin-right: 5px;
}
p{
    font-weight: 700;
}
.accountSection:hover{
     cursor: pointer;
}

.authpage{
    width: 30em;
    height: 17em;
    background-color: white;
    position: absolute;
    z-index: 1;
    top: 8.7em;
    border-width: 1px;
    right: 20em;
    display: flex;
    flex-direction: column;
    padding-right: 2em;
    padding-left: 2em;
}

.authBtn>Button{
    height:2em;
   
}
.arrow {
    width: 0;  
    height: 0;  
    border-left: 11px solid transparent; 
    border-right: 11px solid transparent; 
    border-bottom: 11px solid rgb(255, 255, 255); 
    margin: 2rem; 
    position: absolute; 
    top: 5.4em;
    right: 34%;
    z-index: 1;
    }

.arrowMenu{
    width: 0;  
    height: 0;  
    border-left: 11px solid transparent; 
    border-right: 11px solid transparent; 
    border-bottom: 11px solid rgb(255, 255, 255); 
    margin: 2rem; 
    position: absolute; 
    display: block;
    top: 1.1em;
    left: 8%;
    z-index: 10;

}
.authpageMenu{
    width: 15em;
    height: 20em;
    padding: 2em;
    background-color: white;
    position: fixed;
    z-index: 1;
    top: 3.3em;
    border-width: 1px;
    left: 4em;
    display: flex;
    flex-direction: column;
    padding-right: 2em;
    padding-left: 2em;
}
